/* src/styles/App.css */
.actions {
  display: flex;
  gap: 10px; /* Espacio entre los botones */
}

.btn-warning {
  background-color: #ffc107;
  color: #000;
  padding: 8px 16px; /* Aumentar el padding */
  border-radius: 4px; /* Bordes redondeados */
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-warning:hover {
  background-color: #e0a800;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
  padding: 8px 16px; /* Aumentar el padding */
  border-radius: 4px; /* Bordes redondeados */
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-danger:hover {
  background-color: #c82333;
}
